*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
height: 70%;
width: 80%;
background-color: rgb(84,84,84);
border-radius: 20px;
padding: 20px;
border-radius: 20px;
display: flex;
gap: 20px;
}

.box{
    height: 40%;
    width: 30%;
    background-color: red;
}